/* .Post-space {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
} */


.Post-space{
    margin-top: 5px;
    transform: translateY(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}


.insta_post {
    width: 30%;
    aspect-ratio: 1/1;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px   ;
    border-color:rgb(211, 208, 208);
}
/* .insta_post_div {
    overflow: hidden;
    width: 30% ;
    padding-bottom: 25px;
    padding-right: 2px;
} */

/* .insta_post{
    height: 250px;
    width: 250px;
} */


.Profile_Navigation{
display: flex;
align-items: center;
/* background-color: thistle; */
transform: translateX(28%) ;
z-index: 10;
}

.posts-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    /* background-color:teal; */
    border-style: solid;
    border-width: 1px 0 0 0  ;
    border-color:rgb(8, 8, 8);
}

.posts-icon p {
    font-size: 13.5px;
    transform: translateX(5px) translateY(7px) ;
}

@media (max-width : 804px) {

    .Post-space{
        /* display:unset !important; */
    /* justify-content: unset !important; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: teal; */
    align-content: center;
    justify-items: center;
    grid-column-gap: 2px;
    margin-top: 4px;
    }

    .Profile_Navigation{
        display: flex;
        /* background-color: thistle; */
        transform: translateX(20%)  ;
        margin-top: 0px;
        z-index: 10;
        
        }

    .insta_post{
        width: 99%;
        margin: 3px;
    }

}





@media ( width:768px) and (height:1024px){
    .Profile_Navigation{
        display: flex;
        align-items: center;
        /* background-color: thistle; */
        transform: translateX(22%) translateY(12px) ;
        z-index: 10;
        }

        .Post-space{
            transform: translateY(18px);
        }

        .Post-space{
            padding-top: 10px;
        }

}

@media(max-width:420px){
    .Profile_Navigation{
        display: flex;
        align-items: center;
        /* background-color: thistle; */
        transform: translateX(22%)  ;
        z-index: 10;
        margin-top: 0px;
        margin-right: 10px;
        }



    .Post-space{
        grid-column-gap: 2px;
    }

    
}